server:
  port: 8081

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: irctc-seat
          uri: lb://irctc-seat
          predicates:
            - Path=/seat/**




